.container {
  @apply p-5 border w-[285px] mx-auto  my-4;
}
.brand {
  @apply w-1/2 overflow-hidden whitespace-nowrap  relative;
}
.brand:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff 85%);
}
.container h1 {
  @apply text-gray-600 mb-4 text-sm font-semibold;
}
.container label {
  @apply flex items-baseline gap-1 text-gray-600;
}
